# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a keyboard/mouse or is virtual */}}
{{- "" -}}

{{- $hostname := .chezmoi.hostname -}}

{{- $headless := false -}}
{{- if not (hasKey . "headless") -}}
{{-   $headless = promptBool "Is this machine headless" -}}
{{- end -}}

{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "Git email address for the author/committer on this device" -}}
{{- end -}}

{{- $git_user := get . "git_user" -}}
{{- if not $git_user -}}
{{-   $git_user = promptString "Git full-name/username for the author/committer" -}}
{{- end -}}

{{- $git_username := get . "git_username" -}}
{{- if not $git_username -}}
{{-   $git_username = promptString "Git login-formatted username for the Gitlab remote" -}}
{{- end -}}

{{- $default_gpg_key := get . "default_gpg_key" -}}
{{- if not $default_gpg_key -}}
{{-   $default_gpg_key = promptString "Default GPG key ID (leave empty for default)" -}}
{{-   if not $default_gpg_key -}}
{{-     $default_gpg_key = "0453AC9CA9749DCCDC65044DB837AA41062A81EB" -}}
{{-   end -}}
{{- end -}}

[data]
  email             = {{ $email | quote }}
  git_user          = {{ $git_user | quote }}
  git_username      = {{ $git_username | quote }}
  headless          = {{ $headless }}
  hostname          = {{ $hostname | quote }}
  default_gpg_key   = {{ $default_gpg_key | quote }}
  {{- if eq $email "ben@sykesdev.ca" }}
  personal = true
  {{- else }}
  personal = false
  {{- end }}
