# -*-mode:ruby-*- vim:ft=ruby

# ~/.Brewfile
# =============================================================================
# Bundler for non-Ruby dependencies from Homebrew, Homebrew Cask and the Mac
# App Store.
#
# Reference: https://github.com/Homebrew/homebrew-bundle
#
# Quick Start: brew bundle --global
#

# 'brew install'
brew "base64"
brew "cmake"
brew "coreutils"
brew "curl"
brew "findutils"
brew "gcc"
brew "gdbm"
brew "git"
brew "git-lfs"
brew "gnupg"
brew "gnu-sed"
brew "gnutls"
brew "htop"
brew "make"
brew "mas"
brew "neovim"
brew "readline"
brew "sipcalc"
brew "watch"
brew "wget"
brew "jq"
brew "yq"
brew "eza"
brew "podman"
brew "pinentry"
brew "pinentry-mac"
brew "opentofu"
brew "gh"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "carapace"
brew "jj"
brew "go-task"
brew "shellcheck"

{{- if not .headless }}
# 'brew install --cask'
cask "cursor"
cask "zed"
cask "rectangle"
cask "font-fira-code-nerd-font"
cask "displaylink"
{{- end }}
